html
  width: 400px
  min-width: 480px
  min-height: 380px

.loading-icon
  animation: spin 5s linear infinite
  stroke-dasharray: 200

@keyframes spin
  0%
    stroke-dashoffset: 1000
  100%
    stroke-dashoffset: 0

.favIcon
  margin-right: 4px

.urllist-listitem
  text-overflow: ellipsis
  white-space: nowrap
  padding: 12px
  word-break: break-all
  overflow: hidden
  display: inherit

